markdown-poster @ https://github.com/Lightning-Universe/MarkDown-poster_component/archive/refs/heads/main.zip
rich==13.6.0
torch==2.0.1
torchvision==0.15.2
gradio==3.41.2
transformers==4.32.1
nbconvert==7.7.3
jupyterlite==0.1.2
lightning==1.9.*
jupyterlab==4.0.5
