markdown-poster @ https://github.com/Lightning-Universe/MarkDown-poster_component/archive/refs/heads/main.zip
rich==13.7.0
torch==2.1.1
torchvision==0.15.2
gradio==4.7.1
transformers==4.35.2
nbconvert==7.8.0
jupyterlite==0.2.1
lightning==2.0.*
jupyterlab==4.0.5
