markdown-poster @ https://github.com/Lightning-Universe/MarkDown-poster_component/archive/refs/heads/main.zip
rich==13.5.1
torch==2.0.1
torchvision==0.15.2
gradio==3.35.2
transformers==4.27.4
nbconvert==7.7.3
jupyterlite==0.1.1
lightning==1.9.*
jupyterlab==4.0.5
